body {
	background: linear-gradient(145deg, rgb(70, 74, 48) 20%, rgb(4, 2, 26) 60%);
	overflow-x: hidden;
	color: aliceblue;
	background-repeat: no-repeat;
	background-size: cover;
}

header,
footer {
	background: rgb(0, 0, 0);
	position: fixed;
	z-index: 1000;
}

nav {
	position: fixed;
	z-index: 2000;
}

article {
	display: block;
	padding-top: 3em;
	position: relative;
	height: 85vh;
	width: 100%;
}

header {
	border-bottom: aqua 1px solid;
}

footer {
	border-top: aqua 1px solid;
}

.circle {
	display: flex;
	position: relative;
	border-radius: 50%;
	margin-top: 3rem;
	margin-left: 20%;
	justify-content: center;
	flex-direction: column;
	background: rgb(168, 177, 113);
	height: 7rem;
	box-shadow: inset 0 0 100px rgb(25, 31, 0);
	aspect-ratio: 1;
	z-index: 1;
}

.intro1 {
	display: flex;
	position: absolute;
	font-size: 60px;
	filter: drop-shadow(5px 5px 2px rgb(48, 51, 32));
	transform: skew(350deg);
	width: 45%;
}

.intro1::before {
	content: "★";
	position: absolute;
	filter: inherit;
	font-size: 22px;
	transform: translate(166.3px, 2.7px);
	color: aqua;
}

.intro2 {
	position: absolute;
	text-align: right;
	top: 0;
	filter: drop-shadow(4px 4px 1px rgb(33, 39, 5));
	width: 85%;
	height: 20px;
	padding-right: 10px;
	transform: translate(20px, 1rem) skew(340deg);
	right: 25%;
	font-size: medium;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.intro2>div {
	background-color: rgba(0, 0, 0, 0.8);
	margin-bottom: 0.1rem;
	padding-right: 15px;
}

.top {
	display: flex;
	position: absolute;
	top: 0;
	height: 90vh;
	width: 100vw;
	border-bottom: 2px aqua solid;
	border-top: transparent;
	background-image: radial-gradient(aqua 0 1px, rgba(122, 233, 233, 0.288) 1px 2px, transparent 4px 6px);
	background-size: 40px 40px;
	left: 0;
}

.pyramid_wrapper {
	display: flex;
	top: 0;
	right: 0;
	width: 50%;
}

.PyTopBottom {
width: 50%;
	/* border: 2px solid green; */

}

.pyramid {
	clip-path: polygon(49.5% 0%, 0% 100%, 100% 100%);
	position: absolute;
	background: linear-gradient(98.5deg, rgb(208, 215, 160) 46%, rgb(0, 0, 0) 46%);
	width: 20rem;
	height: 10rem;
right: -10vw;
	z-index: 1;
	bottom: -3rem;
z-index: 100;
}

.py_base {
content: "";
	clip-path: polygon(40% 0%, 0% 100%, 100% 100%);
	position: absolute;
	background: linear-gradient(82deg, rgb(208, 215, 160) 40.8%, rgb(0, 0, 0) 40.9%);
	width: 20rem;
	height: 2.5rem;
	z-index: 200;
	bottom: -5.49rem;
	rotate: x 180deg;
right: -10.5vw;
}

.reflect {
    opacity: .5;
    rotate: x 180deg;
    filter: blur(0px);
    margin-bottom: -10rem;
    background: rgba(0, 0, 0, 0.4);
filter: blur(100px);
    height: 10rem;
    right: -4.7rem;
    transform: skewX(336deg);
    width: 20rem;
    z-index: 190;
	isolation: isolate;
}

.bottom {
	display: flex;
	position: absolute;
	top: 5vh;
	justify-content: space-around;
	align-items: center;
	height: 110vh;
	width: 100%;
	opacity: 1;
	border: 3px solid rgba(0, 0, 0, 0.4);
	background: repeating-linear-gradient(45deg, rgb(131, 139, 88) 0 10px, rgb(103, 109, 69) 10px 20px);
	z-index: 20;
}

.bottom_card {
	background: linear-gradient(aliceblue, rgb(168, 177, 113));
	width: clamp(3rem, 2vw, 7rem);
	aspect-ratio: 5/7;
	border-radius: 10px;
z-index: 200;
	border: aliceblue 5px solid;
	outline: 3px solid rgb(168, 177, 113);
	filter: drop-shadow(5px 5px 2px rgb(48, 51, 32));
}

.bottom_card::before {
	content: "";
	height: 0;
	width: 100%;
	background: linear-gradient(rgb(96, 215, 215), rgb(32, 145, 145));
	position: absolute;
	transition: height .3s;
}

.bottom_card:hover::before {
	height: 100%;
}