body {
	position: relative;
	width: 100%;
	height: 100%;
	background: linear-gradient(145deg, rgb(94, 101, 56), rgb(32, 29, 1), black);
	color: aliceblue;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
	z-index: -1;
}

header,
footer {
	background: #002E43;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

nav {
	position: fixed;
	z-index: 2000;
}

article {
	display: flex;
	position: relative;
	top: 0;
	height: 95vh;
	width: 100%;
	z-index: -1;
	border-bottom: aqua 1px solid;

}

header {
	border-bottom: aqua 1px solid;
}

footer {
	border-top: aqua 1px solid;
}

.flag_wrap {
	display: flex;
	flex-direction: column;
	position: fixed;
	height: 70vh;
	top: 10vh;
	z-index: 200;
}

.unfurl {
	position: absolute;
	font-size: medium;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	left: -80px;
	height: max-content;
	font-size: clamp(8px, 2vw, 14px);
	writing-mode: vertical-rl;
	text-orientation: upright;
	text-transform: uppercase;
	background-color: rgb(0, 0, 0);
	padding: 10px;
	top: 18vh;
	width: 40px;
	border: 2px solid rgb(176, 176, 176);
	z-index: 100;
	transition: left .3s;
}

.flag {
	left: 0px;
}

#idb {
	position: absolute;
	background-image: url(assetsBank/idb.png);
	background-size: contain;
	height: 40px;
	aspect-ratio: 1;
	top: 10vh;
	appearance: none;
}


.loginBlock {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	position: absolute;
	top: 10vh;
	right: 2rem;
	background: linear-gradient(60deg, rgb(61, 61, 61), black);
	height: 6vh;
	width: 50vh;
	border: 2px white solid;
	box-shadow: 10px 10px 7px black;
}

.lbOpen {
	margin-top: 10px;
	height: 25vh;
}

.loginBlock>div {
	display: flex;
	color: white;
	font-size: .4em;
	align-items: center;
	justify-content: center;
	margin: auto;
	inset: 0;
	background: transparent;
	border-radius: 2px;
	width: 100px;
	height: 36px;
	transition: .3s all;
}

.loginBlock div:hover {
	color: aqua;
	border-color: aqua;
	background-image: radial-gradient(rgb(2, 119, 119) 0px 1px, transparent 1px 3px);
	background-size: 3px 3px;
	text-shadow: 1px 1px 0 black, -1px 1px 0 black,
		-1px -1px 0 black, 1px -1px 0 black;
}

.circle {
	display: flex;
	position: sticky;
	border-radius: 50%;
	top: 6.5vh;
	margin-left: 10%;
	justify-content: center;
	flex-direction: column;
	background: rgb(168, 177, 113);
	height: 7rem;
	box-shadow: inset 0 0 50px rgba(45, 46, 8, 0.745), inset 0 0 100px rgba(0, 0, 0, 0.745), inset 0 0 150px rgb(70, 82, 24);
	aspect-ratio: 1;
}

.display {

	display: flex;

}

.intro1 {
	position: absolute;
	top: 30%;
	left: 5px;
	font-size: 60px;
	text-shadow: 2px 2px 0 rgb(48, 51, 32),
		-1px 1px 0 rgb(255, 255, 255),
		-2px -2px 0 rgb(76, 76, 76),
		2px -1px 0 rgb(197, 231, 2);
	filter: drop-shadow(5px 5px 2px rgb(48, 51, 32));
	transform: skew(350deg);
	width: 45%;
}

.intro1::before {
	content: "★";
	position: absolute;
	filter: inherit;
	font-size: 22px;
	text-shadow: 2px 0px 1px rgb(0, 0, 0);
	transform: translate(166.3px, 2.7px);
	color: aqua;
}

.intro2 {
	position: absolute;
	text-align: right;
	bottom: 50%;
	filter: drop-shadow(4px 4px 1px rgb(33, 39, 5));
	width: 85%;
	height: 20px;
	padding-right: 10px;
	transform: translate(20px, 1rem) skew(340deg);
	right: 25%;
	font-size: medium;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.intro2>div {
	background-color: rgba(0, 0, 0, 0.8);
	margin-bottom: 0.1rem;
	padding-right: 15px;
}

#first {
	top: 0;
	height: 90vh;
	/* border-bottom: 2px aqua solid; */
	border-top: transparent;
	background-image: radial-gradient(aqua 0 1px, rgba(122, 233, 233, 0.288) 1px 2px, transparent 4px 6px);
	background-size: 40px 40px;
	left: 0;
	z-index: -1;
}

#pyravault {
	height: 95vh;
	top: 0;
	display: flex;
}

.py_wrapper {
	top: 2vh;
	display: flex;
	position: sticky;
	left: 46%;
	height: 60vh;
	width: 50%;
	z-index: 21;
	border: 2px solid rgb(221, 11, 11);
}

.pyramid {

	width: 100%;
	height: 100%;
}

.hole_wall {
	border: 2px solid rgb(233, 221, 221);
	border-radius: 50%;
}

.hole {
	top: 0;
	display: flex;
	position: relative;
	height: 100%;
	width: 50%;
	border: 2px solid rgb(233, 221, 221);
	border-radius: 50%;
	width: 50%;
	height: 32%;
	transform: translate(-180px, 220px);
	background: rgb(58, 58, 58);
	box-shadow: inset 15px 20px 2px black, inset -15px 20px 2px black;
}



.pyramid span:nth-child(1) {
	clip-path: polygon(48.6% 0%, 0 84%, 41% 100%);
	position: absolute;
	width: 85%;
	height: 6rem;
	background: repeating-linear-gradient(13.2deg, rgb(208, 215, 160) 0 17px, black 18px 19px, aqua 20px 21px, rgb(62, 62, 62) 23px 25px);
	left: 0%;
	z-index: 100;
	border: 2px solid rgb(233, 221, 221);

}

.pyramid span:nth-child(2) {
	clip-path: polygon(50.5% 0%, 97% 86%, 42% 100%);
	position: absolute;
	width: 85%;
	height: 6rem;
	background: repeating-linear-gradient(-9deg, rgb(4, 3, 21) 0 16px, rgb(0, 21, 246) 16px 17px, aqua 19px 21px, black 22px 24px);
	left: 50%;
	z-index: 100;
	border: 2px solid rgb(9, 89, 19);

}

.pyTopBottom {
	position: absolute;
	filter: blur(6px);
	right: 12rem;
	bottom: 9rem;
	z-index: 21;
}

.shadow1 {
	clip-path: polygon(100% 0, 11% 0, 50% 84%);
	position: absolute;
	width: 17rem;
	height: 10rem;
	background: rgb(0, 0, 0);
	opacity: .5;
	transform: skewX(41deg);
}

.stripe {
	display: block;
	position: relative;
	box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.2) inset, 0 -3px 10px rgba(255, 255, 255, 0.4);
	width: 100%;
	bottom: -10vh;
	height: 10vh;
	z-index: 20;
	background: repeating-linear-gradient(45deg, rgb(131, 139, 88) 0 10px, rgb(49, 49, 49) 10px 12px, rgb(103, 109, 69) 12px 22px, rgb(49, 64, 12) 22px 24px);
	border-top: aqua 2px solid;
	border-bottom: aqua 2px solid;

}

#pyravault {
	top: 10vh;
	background: linear-gradient(rgb(88, 106, 139), rgb(2, 138, 138), rgb(24, 132, 132));
}

#cards {
	z-index: 19;
}

#cards::before,
#cards::after {
	content: "";
	display: block;
	position: absolute;
	border-radius: 0% 100% 10% 67% / 0% 50% 0% 50%;
	width: 50%;
	height: 14%;
}

#cards::before {
	background: #838B58;
	z-index: 5;
	isolation: isolate;
}

#cards::after {
	background: rgb(24, 132, 132);
	border-right: transparent 2px solid;
	transform: translate(100%, 0%);
	z-index: 60;
}

@keyframes wavy {

	50% {
		border-radius: 10% 95% 70% 0%;

	}

}

.bottom {
	display: flex;
	position: absolute;
	top: 5vh;
	justify-content: space-around;
	align-items: center;
	height: 90vh;
	width: 100%;
	opacity: 1;
	border: 3px solid rgba(0, 0, 0, 0.4);
	background: rgb(131, 139, 88) 0 10px;
}

.bottom_card {
	/* background: linear-gradient(aliceblue, rgb(168, 177, 113)); */
	width: clamp(3rem, 2vw, 7rem);
	aspect-ratio: 5/7;
	border-radius: 10px;
	position: relative;
	z-index: 200;
	font-size: .5em;
	color: black;
	z-index: 55;
	isolation: isolate;
	border: aliceblue 5px solid;
	outline: 3px solid rgb(168, 177, 113);
	filter: drop-shadow(5px 5px 2px rgb(48, 51, 32));
}

.bottom_card::before {
	content: "";
	height: 100%;
	width: 100%;
	background: linear-gradient(rgb(96, 215, 215), rgb(32, 145, 145));
	position: absolute;
	transition: height .3s;
}

.bottom_card:hover::before {
	height: 0%;
}

#GW {
	justify-content: center;
	background-color: #04021A;
}

.page5 {
	display: flex;
	justify-content: space-between;
	width: 90%;
	height: 100%;
	margin: auto;
}

.product {
display: flex;
position: absolute;
	height: 400px;
	width: 400px;
inset: 0;
margin: 0 auto;
border-radius: 10px;

background-size: cover;
background: rgba(0, 0, 0, 0.23);
background-image: url(assets/stars.png);
z-index: 110;
}

.planet {
position: absolute;
    color: blue;
    isolation: isolate;
    border: 2px solid white;
}

.left {
	position: absolute;
	width: 50%;
	top: 10%;
	opacity: 0;
	animation: fadeDown 2s ease forwards;
}

@keyframes fadeDown {
	from {
		opacity: 0;
		transform: translateY(100px);
	}

	to {
		opacity: 1;
		transform: translateY(0px)
	}

}

.left nav {
	display: flex;
	position: absolute;
	bottom: -18.5vh;
isolation: isolate;
z-index: 200;
}

.feature_GW {
	display: flex;
	height: 400px;
	width: 400px;
	position: absolute;
	inset: 0;
	margin: 0 auto;
	overflow-x: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
}

.feature_GW>div {
	display: flex;
clip-path: polygon(0% 0%, 0% 100%, 5% 100%, 5% 5%, 95% 5%, 95% 85%, 0% 85%, 0 100%, 100% 100%, 100% 0%);
	min-width: 400px;
	height: 100%;
	justify-content: center;
	align-items: center;
	scroll-snap-align: center;
z-index: -1;
}

.feature_GW::-webkit-scrollbar {
display: none;
}

.left nav a {
	border: 1px solid rgb(0, 0, 0);
	border-radius: 0;
	background-image: linear-gradient(transparent 30%, black);
}

.left nav a:hover {
	border: 1px solid rgb(255, 255, 255);
}

.buybox {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1rem;
    top: 0;
}

#buynav {
inset: 0;
margin: 0 auto;
height: fit-content;
width: fit-content;
padding: 2px;
	border: 2px solid rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
box-shadow:  0 4px 2px #000000cc, 2px 0px 3px #000000cc, -2px 0px 3px #000000cc;
}

#red {
	background: radial-gradient(rgb(184, 10, 71) 75%, rgb(64, 8, 37));
}

#yellow {
	background: radial-gradient(rgb(255, 255, 91) 75%, rgb(129, 129, 0));
}

#moon {
	background: radial-gradient(rgb(248, 191, 150) 75%, rgb(130, 87, 56));
}

#orange {
	background: radial-gradient(orange 75%, rgb(108, 70, 0));
}

#green {
	background: radial-gradient(rgb(27, 208, 27) 75%, rgb(0, 98, 0));
}

#blue {
	background: radial-gradient(rgb(0, 0, 255) 75%, rgb(0, 0, 127));
}

#purple {
	background: radial-gradient(rgb(202, 2, 202) 75%, rgb(106, 1, 106));
}

.well {
display: flex;
align-items: center;
width: 50%;
right: 0;
}

.g_well {
	position: absolute;
	height: 10rem;
	width: 10rem;
	right: -10%;
	rotate: y 66deg;
	border-radius: 50%;
	background-color: black;
	background-image: url(assets/stars.png);
	background-size: cover;
	z-index: -1;
}

.g_well::before {
	content: "";
	position: absolute;
	height: inherit;
	width: inherit;
	border-radius: inherit;
	box-shadow: inset 0 0 50px black;
	background-image: repeating-conic-gradient(transparent 0%,
			rgba(0, 0, 0, 0.8) 15%,
			transparent 33%,
			rgba(0, 0, 0, 0.8) 50%,
			transparent 67%),
		radial-gradient(transparent 34%, rgba(117, 70, 5, 0.963) 35%, rgb(59, 13, 3) 40%, black 43%, rgb(208, 78, 8) 45%, rgba(165, 107, 5, 0.568) 60%, rgb(207, 76, 15));
	border: 5px solid transparent;
	outline: 10px double rgb(0, 0, 0);
	outline-offset: -47px;
	animation: around 10s linear infinite;
}

@keyframes around {
	100% {
		rotate: 360deg;
	}
}

.g_well::after {
	content: "";
	position: absolute;
	height: 6rem;
	width: 6rem;
	rotate: x 66deg;
	border-radius: inherit;
	transform: translate(-1rem, 5rem);
	background-image: radial-gradient(circle at 10% -10%, rgba(255, 255, 255, 0.725) 0%, transparent 40%),
		radial-gradient(circle at 20% 40%, black, rgb(59, 13, 3), rgb(0, 0, 0) 80%);
}