body {
	background-color: rgb(131, 139, 88);
	color: aliceblue;
}

header,
footer {
	background: rgb(0, 0, 0);
}

header {
	border-bottom: aliceblue 1px solid;
}

footer {
	border-top: aliceblue 1px solid;
}