body {
	background: rgb(26, 26, 26);
	display: flex;
	position: relative;
	min-height: 100vh;
}

.left {
	position: absolute;
	left: 0;
	height: 100%;
	width: 50%;
	background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.66));
	background-color: rgba(13, 176, 187, 0.662);
	background-color: #80A4B6;
}

.square {
	display: flex;
	position: absolute;
	border-radius: 5px;
	height: 80%;
	align-items: center;
	aspect-ratio: 3/2;
	margin: auto;
	inset: 0;
	border: 2px rgb(113, 111, 77) solid;
}

.circle {
	position: absolute;
	height: 60%;
	aspect-ratio: 1;
	box-shadow: 10px 10px 50px rgba(182, 179, 136, 0.5) inset, 25px 10px 50px rgba(69, 68, 47, 0.5) inset, 50px 10px 50px rgba(87, 8, 85, 0.5) inset, 20px 10px 50px rgba(232, 206, 150, 0.708) inset;
	border-radius: 50%;
	margin: auto;
	inset: 0;
	filter: blur(2px);
	background-image: radial-gradient(circle at 50% 70%,
			transparent 0%, rgba(239, 211, 112, 0.085) 90%),
		radial-gradient(circle at 75% 75%, rgba(255, 255, 255, 0.637) -10%, transparent 50%);
}

.circle::before {
	content: "";
	position: absolute;
	outline: rgba(255, 10, 255, 0.484) 1px solid;
	outline-offset: 4px;
	border: 2px solid rgba(116, 116, 51, 0.849);
	background-image: conic-gradient(from 0deg at -10% 70%, rgba(93, 93, 82, 0.267) 70deg, rgba(117, 117, 84, 0.405) 75deg, rgba(54, 52, 19, 0.267) 80deg);
	/* background: rgba(54, 52, 19, 0.267);	 */

	height: 104%;
	aspect-ratio: 1;
	border-radius: 50%;
	margin: auto;
	inset: 0;
	filter: blur(3px);

}

.star {
	position: absolute;
	clip-path: polygon(30% 0%, 58% 40%, 100% 30%, 63% 55%, 70% 100%, 45% 60%, 0% 70%, 40% 45%);
	height: 5%;
	aspect-ratio: 1;
	right: 28%;
	background-color: rgba(137, 43, 226, 0.707);
	border: rgb(183, 0, 255) 20px solid;
	animation: star 3s infinite linear;
	z-index: 10;
}

@keyframes star {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}

}

header,
footer {
	background: rgb(0, 0, 0);
}