:root {
	--clock: #152222;
}

html {
	color: #34bbbb;
	font-family: 'Courier New', Courier, monospace;
}

body {
	background-color: rgb(69, 68, 68);
	display: flex;
	position: relative;
	height: 100vh;
	width: 100vw;
	background-image: url(assets/flower2.jpg);
	background-position: left;
	background-blend-mode: difference;
	z-index: -1;
}

body::before {
	content: "";
	height: inherit;
	width: inherit;
	position: absolute;
	background: radial-gradient(transparent 50%, black 95%);

}

header,
footer {
	position: fixed;
	background: #2d6471;
}

.square {
	display: flex;
	position: absolute;
	border-radius: 5px;
	background: #077c9642;
	background-image: repeating-linear-gradient(transparent 0 30px, rgba(113, 111, 77, 0.15) 30px 60px), repeating-linear-gradient(90deg, transparent 0 30px, rgba(113, 111, 77, 0.15) 30px 60px);
	height: 80%;
	width: 90%;
	align-items: center;
	margin: auto;
	inset: 0;
	border: 2px rgb(113, 111, 77) solid;
}

.sound_control {
	position: absolute;
	top: 7vh;
	left: 0;
	width: 1rem;
	height: 1rem;
	border: 2px rgb(113, 111, 77) solid;
	border-left: none;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.462);
	background-image: url(assets/sound_on.png);
	background-size: cover;
	background-position: center center;
}

.sound_off {
	background-image: url(assets/sound_off.png);
	background-size: cover;
	z-index: 10;
}



.time_read {
	position: sticky;
	margin: 5vh auto;
	height: 12vh;
	top: 5vh;
	width: 25%;
	text-shadow: 0 0 3px black;
	font-size: clamp(10px, 1.6vw, 24px);
	background-color: #2d6471;
	border-radius: 0 0 20px 20px;
	box-shadow: inset 0 -5px 15px black, inset 0 0 37px #5f9ea0;
	z-index: 1;

	@media only screen and (max-width: 720px) {
		width: 50%;
	}

}

.time_wrapper {
	display: flex;
	flex-direction: column;
	position: absolute;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0 0 15px rgb(0, 0, 0) inset;
	height: 75%;
	width: 85%;
	border: 2px solid rgb(89, 87, 87);
	border-radius: 0 0 16px 16px;
	background: var(--clock);
	margin: auto;
	inset: 0;
	padding: 5px;
}

#time {
	color: rgb(239, 73, 73);
}

#circle {
	display: flex;
	position: relative;
	color: aliceblue;
	height: clamp(38vh, 40vw, 60vh);
	aspect-ratio: 1;
	box-shadow: 10px 10px 50px rgb(182, 179, 136) inset, 25px 10px 50px rgb(69, 68, 47) inset, 50px 10px 50px rgb(87, 8, 84) inset, 20px 10px 50px rgb(232, 206, 150) inset;
	border-radius: 50%;
	padding: 1.5rem;
	align-items: center;
	justify-content: center;
	inset: 0;
	margin: auto;
	background-image: radial-gradient(circle at 50% 70%,
			rgba(0, 0, 0, 0.382) 0%, rgb(239, 211, 112) 90%),
		radial-gradient(circle at 75% 75%, rgba(255, 255, 255, 0.937) -10%, transparent 50%);
}

#circle::before {
	content: "";
	position: absolute;
	border: 5px dotted rgba(245, 245, 222, 0.256);
	background-image: conic-gradient(from 0deg at -10% 70%, rgba(93, 93, 82, 0.267) 70deg, rgba(117, 117, 84, 0.405) 75deg, rgba(54, 52, 19, 0.267) 80deg);
	height: 100%;
	aspect-ratio: 1;
	border-radius: 50%;
	margin: auto;
	inset: 0;
}

ul {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	z-index: 20;
}

ul li {
	color: var(--clock);
	list-style: none;
	position: absolute;
	font-size: clamp(24px, 2vw, 30px);
	text-align: center;
	transform: rotate(calc(30deg * var(--i)));
	inset: 10px;
}

ul li span {
	display: inline-block;
	transform: rotate(calc(-30deg * var(--i)));

}

#clock {
	position: relative;
	overflow: hidden;
	background: var(--clock);
	box-shadow: inset 1px 1px 5px rgb(133, 113, 4),
		1px 1px 5px rgb(15, 4, 141);
	padding: 2rem;
	width: 100%;
	height: 100%;
	border: 2px solid rgb(105, 187, 153);
	border-radius: 50%;
}

#clock::before,
#clock::after,
.tick {
	content: "";
	position: absolute;
	width: 5px;
	height: 100%;
	background: #3ff1f0;
	top: 0;
	left: 49%;
	z-index: 0;
}

#clock::after {
	rotate: 90deg;
	background: #3ff189;

}

.tick {
	background: hsla(180, 57%, 38%, 0.5);
	width: 3px;
}

.bar1 {
	rotate: 30deg;
}

.bar2 {
	rotate: 60deg;
}

.bar3 {
	rotate: 120deg;
}

.bar4 {
	rotate: 150deg;
}

.clockface {
	position: absolute;
	top: 7.5%;
	left: 7.5%;
	width: 85%;
	height: 85%;
	background: var(--clock);
	border-radius: 50%;
	z-index: 1;
}

#inner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 16px;
	height: 16px;
	border-radius: 18px;
	margin-left: -9px;
	margin-top: -6px;
	background: #2d6471;
	z-index: 11;
}

#hour,
#minute,
#second {
	position: absolute;
	border-radius: 10px;
	transform-origin: bottom;
	z-index: 5;
}

#hour {
	background-color: #5f2d71;
	width: 2.4%;
	height: 25%;
	top: 26%;
	left: 48.85%;
	opacity: .8;
}

#minute {
	background-color: #2d6471;
	width: 2%;
	height: 30%;
	top: 20%;
	left: 49.25%;
	opacity: .8;
}

#second {
	background-color: #3ff189;
	width: 1.6%;
	height: 40%;
	top: 10%;
	left: 49.25%;
	opacity: .8;
}

.hour {
	filter: blur(0px);
	position: absolute;
	font-size: 20px;
	font-weight: 600;
	right: 50%;
}

@keyframes star {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}

}