body {
	background-color: rgb(238, 229, 249);
}

header {
	background: linear-gradient(rgb(237, 95, 147), rgb(244, 72, 244));
}

footer {
	background: linear-gradient(rgb(244, 72, 244), rgb(237, 95, 147));
}

nav {
	position: fixed;
	z-index: 2000;
}

section {
	height: 100vh;
	width: 100%;
}

.box {
position: fixed;
top: 10vh;
left: 2rem;
border: 7px solid rgb(96, 102, 36);
width: 2rem;
height: 5rem;
background: linear-gradient(rgb(66, 103, 60), rgb(85, 125, 46));
background-image: repeating-linear-gradient(transparent, black 0 5px, transparent 5px 10px),
 repeating-linear-gradient(90deg, transparent, black 0 5px, transparent 5px 10px);
background-size: 21px 23px;
box-shadow: 10px 10px 4px black;
outline: 2px solid seagreen;
outline-offset: -6px;
}