body {
	background-color: rgba(196, 171, 135, 0.592);
	min-height: 100vh;
	overflow: hidden;
	position: relative;
	perspective: 1000px;
	transform-style: preserve-3d;
}

.square {
	display: flex;
	position: absolute;
	border-radius: 10px;
	border: 6px double rgba(255, 174, 52, 0.695);
	height: 85vh;
	width: 90%;
	transform: translateZ(10px);
	margin: auto;
	transform-style: preserve-3d;
	background: linear-gradient(rgba(238, 227, 80, 0.7), rgba(190, 182, 117, 0.7), rgba(255, 255, 255, 0.7));
	inset: 0;
}

.blob1 {
	display: flex;
	position: relative;
	height: 20rem;
	height: 7rem;
	aspect-ratio: 1;
	position: absolute;
	rotate: 180deg;
	border-radius: 40% 60% 66% 34% / 65% 25% 75% 35%;
	transform: translateZ(-100px);
	margin-top: 60vh;
	left: -20vw;
	background: linear-gradient(rgba(0, 0, 255, 0.748), rgba(233, 22, 166, 0.633));
	animation: blob1 7.5s linear infinite;
}

.blob1::before {
	content: "";
	height: 96%;
	width: 96%;
	position: absolute;
	background: inherit;
	background-image: radial-gradient(circle at 10% 70%, rgb(211, 172, 245) 0%, transparent 40%);
	border-radius: inherit;
	box-shadow: 0 0 17px rgb(56, 52, 52) inset;
	margin: auto;
	inset: 0;
}

.blob2 {
	height: 7rem;
	aspect-ratio: 4/5;
	position: absolute;
	border-radius: 40% 60% 66% 34% / 65% 25% 75% 35%;
	box-shadow: 0 0 50px rgb(208, 207, 207) inset;
	rotate: 76deg;
	transform: translateZ(-100px);
	margin-top: 70vh;
	right: -13vw;
	background: linear-gradient(rgba(255, 221, 0, 0.6), green);
	animation: blob1 9s linear infinite;
}

.blob2::before {
	content: "";
	height: 97%;
	width: 97%;
	position: absolute;
	background: inherit;
	background-image: radial-gradient(circle at 10% 70%, rgb(157, 241, 97) 0%, transparent 40%);
	border-radius: inherit;
	box-shadow: 0 0 25px rgb(56, 52, 52) inset;
	margin: auto;
	inset: 0;
}

.blob3 {
	height: 7rem;
	aspect-ratio: 1;
	position: absolute;
	rotate: 45deg;
	box-shadow: 0 0 7px rgb(66, 65, 65) inset;
	margin-top: -35vh;
	right: 20vw;
	transform: translateZ(-100px);
	border-radius: 40% 60% 66% 34% / 65% 25% 75% 35%;
	background-image: linear-gradient(rgba(199, 1, 54, 0.693), rgba(236, 149, 17, 0.716));
	animation: blob1 8s linear infinite;
}

.blob3::before {
	content: "";
	height: 96%;
	width: 96%;
	position: absolute;
	background: inherit;
	background-image: radial-gradient(circle at 10% 70%, rgb(245, 194, 172) 0%, transparent 40%);
	border-radius: inherit;
	box-shadow: 0 0 17px rgb(56, 52, 52) inset;
	margin: auto;
	inset: 0;
}

@keyframes blob1 {

	0% {
		border-radius: 40% 60% 66% 34% / 65% 25% 75% 35%;
	}

	25% {
		border-radius: 50% 50% 64% 36% / 35% 70% 30% 65%;
	}

	50% {
		border-radius: 24% 76% 64% 36% / 6% 70% 30% 94%;
	}

	75% {
		border-radius: 76% 24% 64% 26% / 65% 34% 66% 35%;
	}
}

.cursor {
	position: absolute;
	top: .75rem;
	margin-left: .25em;
	animation: blink .98s infinite steps(1);
}

@keyframes blink {

	50% {
		opacity: 0
	}

}