body {
	background-color: rgb(192, 167, 94);
min-height: 100vh;
}

header,
footer {
	background: rgb(157, 10, 103);
}

.cent {
	position: sticky;
	top: 5vh;
	height: 7vh;
	text-align: center;
	margin: auto;
}

header {
	border-bottom: rgb(0, 0, 0) 1px solid;
}

footer {
	border-top: rgb(0, 0, 0) 1px solid;
}