body {
	background-color: rgb(192, 167, 94);
	height: 80vh;
}

header,
footer {
	background: rgb(157, 10, 103);
}

header {
	border-bottom: rgb(0, 0, 0) 1px solid;
}

footer {
	border-top: rgb(0, 0, 0) 1px solid;
}