@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap&family=Inter:wght@500&family=Lora:ital,wght@1,500&Notable&display=swap&familyFredericka+the+Great&family=Inter:wght@500&family=Lora:ital,wght@1,500&family=Noto+Sans+Symbols&family=Rubik+Glitch&family=Open+Sans&family=Roboto&family=Oswald&family=Playfair+Display&display=swap&family=Alumni+Sans+Collegiate+One&display=swap');

:root {
	--logoBG: radial-gradient(rgba(213, 210, 255, 0.8) 10%, rgba(6, 163, 184, 0.884) 25%, black 60%);
	--pulse: #766ce0;
}


*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
}

html {
	scroll-behavior: smooth;
	height: 100svh;
	font-family: "Lora", sans-serif;
	font-size: 40px;
}

body>nav {
	display: flex;
	margin-left: 1rem;
	font-size: 20px;
	height: 5vh;

	@media only screen and (max-width: 720px) {
		margin-left: unset;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}

}

a {
	height: clamp(7px, 1.25vh, 20px);
	aspect-ratio: 1;
	z-index: 10;
	margin: auto 10px;
	background: rgb(185, 191, 115);
	border-radius: 50%;
	border: rgb(79, 81, 48) 2px solid;
	transition: .07s all;
}

a:visited {
	border: 2px solid rgb(0, 0, 0);
	background: rgba(253, 255, 225, 0.125);
}

nav {
	position: fixed;
	z-index: 100;
}

nav .active {
	border: 2px solid rgb(0, 0, 0);
	background: rgb(229, 225, 13);
}

a:hover {
	border: 2px solid rgb(0, 0, 0);
	background: aliceblue;
}

header {
	position: fixed;
	background: rgb(178, 184, 4);
	height: 5vh;
	width: 100%;
	top: 0;
	z-index: 1;
}

.top_center {
	position: fixed;
	top: 10vh;
	height: 7vh;
	text-align: center;
	width: 100%;
	margin: auto;
}

.leftB {
	right: 1rem;
	rotate: y -90deg;
}

.rightB {
	left: 1rem;
	rotate: y 90deg;
}

.topB {
	bottom: 1rem;
	rotate: x 90deg;
	background: hwb(181 58% 0% / 0.15);
}

.bottomB {
	top: 1rem;
	rotate: x -90deg;
	background: rgba(21, 141, 141, 0.271);
}

.frontB {
	translate: 0 0 1rem;
	transform-style: preserve-3d;
}

.backB {
	translate: 0 0 -1rem;
}

footer {
	font-size: 14px;
	position: fixed;
	background: rgb(178, 184, 4);
	height: 5vh;
	width: 100%;
	bottom: 0;
}

@keyframes around {

	100% {
		rotate: y 360deg;
	}
}

.intro {
	margin: 1rem;
	isolation: isolate;
}

.present {
	position: sticky;
	top: 5vh;
	height: 7vh;
	text-align: center;
	margin: auto;
}

.want {
	display: flex;
	align-items: center;
	font-size: 9px;
	height: 100%;
	width: 90%;
	margin: auto;
}