body {
background: black;
background-image: radial-gradient(circle at top right,rgb(133, 63, 125), transparent 45%),
					radial-gradient(circle at bottom left, #2C1E54 , transparent 45%);
}

header, footer {
color: #a15153;
background: rgba(39, 35, 94, 0.686);
}