body {
	height: 100vh;
	background-image: repeating-radial-gradient(rgba(0, 0, 0, 0.8), transparent 7%),
		linear-gradient(rgb(86, 85, 77), rgb(171, 175, 55));
	background-size: 20px 20px;

}

header {
	background: rgb(178, 184, 4);
	border-bottom: rgb(0, 0, 0) 1px solid;
}

footer {
	background: rgb(178, 184, 4);
	border-top: rgb(0, 0, 0) 1px solid;
}

.main_square {
	display: flex;
	position: absolute;
	border-radius: 5px;
	inset: 0;
	margin: auto;
	height: 80vh;
	width: 90%;
	border: 2px solid rgb(4, 86, 9);
	background-color: rgb(0, 255, 255);
	box-shadow: 0 0 10px black;
}

.circle {
	position: absolute;
	border-radius: 50%;
	height: 60%;
	aspect-ratio: 1;
	border: 3px solid rgba(228, 175, 29, 0.475);
	margin: auto;
	inset: 0;
	box-shadow: inset 0 0 7px black;
	background: repeating-conic-gradient(black 30deg, #af890d 60deg, black 90deg),
		rgb(204, 191, 115);
	animation: round 30s linear infinite;
}

@keyframes round {
	100% {
		rotate: z 360deg;
	}
}

.mini_circle {
	position: absolute;
	border-radius: 50%;
	height: 97%;
	aspect-ratio: 1;
	background-image: radial-gradient(circle at 50% 50%, rgb(187, 178, 13) 0%, transparent 20%),
		repeating-radial-gradient(rgb(0, 0, 0), transparent);
	background-size: 20px 20px;
	border: 3px solid rgba(192, 172, 20, 0.455);
	margin: auto;
	inset: 0;
	box-shadow: 0px 0px 40px #000000 inset,
		0px 0px 80px #e5c512c0 inset;
	animation: round 30s linear infinite reverse;
}

.glass {
	position: relative;
	height: .5rem;
	width: .5rem;
	border: 2px solid rgba(0, 0, 0, 0.4);
	background-color: rgba(0, 0, 0, 0.2);
	animation: blink .5s ease-in-out infinite;
	top: .5rem;
	left: .5rem;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}

.glass::before {
	content: "";
	position: absolute;
	height: .25rem;
	width: .25rem;
	margin: auto;
	inset: 0;
	background-color: rgb(93, 127, 59);
}

header,
footer {
	background: rgb(178, 184, 4);
}