body {
	background: rgb(26, 26, 26);
	position: relative;
	min-height: 100vh;
}

.square {
	display: flex;
	position: absolute;
	border-radius: 5px;
	height: 80%;
	align-items: center;
	aspect-ratio: 3/2;
	margin: auto;
	inset: 0;
	border: 2px rgb(113, 111, 77) solid;
}

.circle {
	position: absolute;
	height: 60%;
	aspect-ratio: 1;
	box-shadow: 20px 20px 50px rgba(182, 179, 136, 0.5) inset, 50px 50px 50px rgba(69, 68, 47, 0.5) inset, 100px 100px 50px rgba(42, 43, 23, 0.5) inset;
	border-radius: 50%;
	margin: auto;
	inset: 0;
	background-image: radial-gradient(circle at 50% 70%,
			transparent 0%, rgb(26, 26, 26) 70%),
		radial-gradient(circle at 75% 75%, transparent 10%, rgba(12, 6, 44, 0.4) 100%);
}

.star {
	position: absolute;
	clip-path: polygon(30% 0%, 58% 40%, 100% 30%, 63% 55%, 70% 100%, 45% 60%, 0% 70%, 40% 45%);
	height: 5%;
	aspect-ratio: 1;
	right: 28%;
	background-color: rgba(137, 43, 226, 0.707);
	border: rgb(183, 0, 255) 20px solid;
	animation: star 3s infinite linear;
	z-index: 10;
}

@keyframes star {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}

}

header,
footer {
	background: rgb(0, 0, 0);
}