body {
	background: radial-gradient(circle at 25% 10%, rgb(223, 179, 117), rgb(213, 168, 102), rgb(230, 169, 83));
}


.arc {
	background-color: rgb(230, 169, 83);
}

.arc {
	background-color: rgb(189, 173, 116);
}

.arc {
	background-color: rgb(113, 111, 77);
}

.circle {
	position: relative;
	width: 20rem;
	height: 10rem;
	background: repeating-conic-gradient(from 180deg at 50% 100%, rgb(189, 173, 116) 0deg 11deg, black 11deg 12deg),
		repeating-linear-gradient(0deg, green, transparent, blue 90%, transparent);
	border-radius: 20rem 20rem 0 0;
	transform-origin: bottom center;
	border: rgb(101, 228, 228) 11px dotted;
	margin-left: -5%;
	overflow: hidden;
	border-bottom: transparent;
	animation: half-round 5s infinite ease-in-out alternate;
}

.circle::before {
	content: "";
	position: absolute;
	width: 85%;
	height: 85%;
	background-color: rgb(218, 174, 110);
	border-radius: 20rem 20rem 0 0;
	inset: 0;
	margin: auto;
	margin-bottom: 0;
}

@keyframes half-round {
	0% {
		transform: rotate(-22.5deg);
	}

	100% {
		transform: rotate(22.5deg);
	}
}

.center {
	isolation: isolate;
	position: absolute;
	width: 2%;
	aspect-ratio: 1;
	border: black 3px solid;
	background-color: aqua;
	border-radius: 50%;
	inset: 0;
	margin: auto;
	margin-top: 45%;
	box-shadow: 0 0 10px black inset;
}

header,
footer {
	background: rgb(214, 147, 22);
}

header {
	border-bottom: rgb(0, 0, 0) 1px solid;
}

footer {
	border-top: rgb(0, 0, 0) 1px solid;

}